@import "../../../scss/base-colors.scss";

.messageSender {
  display: flex;
  width: 100%;
  margin-top: 30px;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px -7px rgba(0, 0, 0, 0.75);

  &__top {
    display: flex;
    border-bottom: 1px solid #eff2ef;
    padding: 15px;
  }

  &__form {
    flex: 1;
    display: flex;

    input {
      outline-width: 0;
      border: none;
      padding: 5px 20px;
      margin: 0 10px;
      background-color: $backgroundColor;
      border-radius: 999px;
    }

    &--input {
      flex: 1;
    }

    button {
      display: none;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__option {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 5px;
    color: grey;

    &:hover {
      cursor: pointer;
      border-radius: 20px;
      background-color: $backgroundColor;
    }

    h3 {
      font-size: medium;
      margin-left: 10px;
    }
  }
}
